version: '3'

services:
  monitor-reporter:
    image: penolove/monitor_reporter:183appier
    env_file:
      - ./env.list
    volumes:
      - ./employee_pics:/app/monitor_reporter/static/appier_employee
      - ./db_folder:/app/instance
    ports:
      - 5000:80
